<footer>
    <div class="pie">
        <article><a href="https://www.linkedin.com/in/gerardo-alejandro-ramirez?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BJ1WjFI0LR3iIogUsBtnydA%3D%3D" target="_blank">
        <ion-icon name="logo-linkedin"></ion-icon> </a></article>
        <article><a href="https://github.com/gerardo-ramirez?tab=repositories" target="_blank">
        <ion-icon name="logo-github"></ion-icon></a></article>
        <article><a href="https://accounts.google.com/" target="_blank" ><ion-icon name="mail"></ion-icon></a></article>

    </div>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>


</body>

</html>