<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="./../../css/contacto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">

    <title>Contacto</title>
</head>
<body>
        <div class="sticky  animated pulse">
                <img src="/img/bynVertical.jpg" class="imagenSticky">
                <article class="textoSticky">
                    <h4>Volver al </h4>
                    <a class="ver" href="/">
                        <h3>Home</h3>
                    </a>
                </article>
            </div>
        
    <div class="contenedorContacto">
        <article class="links  animated zoomInLeft">
            
                <ion-icon  name="logo-whatsapp"></ion-icon><span><h2>+5411 34689638</h2></span>
        </article>
        <article class="links linkedin  animated slideInUp">
            <a class="eslink" href="https://www.linkedin.com/in/gerardo-alejandro-ramirez?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BJ1WjFI0LR3iIogUsBtnydA%3D%3D" target="_blank">
                <ion-icon name="logo-linkedin"></ion-icon> </a>
        </article>
        <article>
            <article class="links  animated zoomInRight">
                <a class="eslink" href="mailto:gerardoramirez656@gmail.com" target="_top" ><ion-icon name="mail"></ion-icon></a>
                <span><h2>gerardoramirez656@gmail.com</h2></span>
            </article>
        </article>
    </div>
<script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>
    
</body>
</html>