<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../../css/developer.css">
    <link rel="stylesheet" href="./../../css/redaccion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <title>Gerardo Ramirez</title>
</head>

<body>
    <div class="head">
        <ion-icon name="laptop" class="animated zoomIn"></ion-icon>
        <h2 class="animated swing">WWW.com</h2>
    </div>
    <header class='contenedorWeb'>
        <section class="back">
            <div class="sticky2  animated pulse">
                <img src="/img/bynVertical.jpg" class="imagenSticky">
                <article class="textoSticky">
                    <h4>Volver al</h4>
                    <a href="/">
                        <h3>Home</h3>
                    </a>
                </article>
            </div>
        </section>
        <section class="dato">
            <article class="info">
                <h2>Diseño </h2>
                <hr>
                <h3>Html</h3>
                <h3>Css</h3>
                <h3>Flexbox</h3>
                <h3>Bootstrap</h3>
                <h3>Photoshop</h3>
                <h3>Illustrator</h3>

            
              

            </article>
            <article class="info">
                <h2>Programación </h2>
                <hr>
                <h3>Jquery</h3>
                <h3>Java Script</h3>
                <h3>Ajax</h3>
                <h3>Java</h3>
                <h3>MySql</h3>
                <h3>MongoDB</h3>
            </article>

            <article class="info">
                <h2>Desarrollo </h2>
                <hr>
                <h3>React js</h3>
                <h3>Redux</h3>
                <h3>Node js</h3>
                <h3>Express</h3>
                 <h3>Sequelize</h3>
                

                
            </article>

        </section>
        <section class="news">
            <h3>News</h3>
            <h4>Cursando PHP y Mysql.</h4>
            <p>Proyectos freelance en git-hub.</p>

        </section>

    </header>




    <%- include partials/footer.ejs %>