<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../../css/home.css">



    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i" rel="stylesheet">

    <title>Gerardo Ramirez</title>

</head>

<body>
    <div class="home">
        <div class="imagen">
            <img src="./img/gerardo.jpg" class="isotipo" alt="">
        </div>
        <nav>
            <ul class="menu">

                <li>
                    <a href="/redaccion">
                        <ion-icon name="create"></ion-icon>Redacción</a>
                </li>
                <li>
                    <a href="/multimedia">
                        <ion-icon name="image"></ion-icon>Multimedia</a>
                </li>
                <li>
                    <a href="/radio">
                        <ion-icon name="radio"></ion-icon>Radio</a>
                </li>
                <li>
                <a href="/developer">
                    <ion-icon name="laptop"></ion-icon>Desarrollo Web</a>
                </li>

                <li>
                    <a href="/contacto">
                        <ion-icon name="contacts"></ion-icon>Contacto</a>
                </li>

            </ul>
        </nav>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>


</body>

</html>