<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./../../css/radio.css">
    <link rel="stylesheet" href="./../../css/redaccion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <title>Gerardo Ramirez</title>
</head>

<body>
    <div class="header"><ion-icon class="iconoRadio animated rubberBand" name="radio"></ion-icon>  <h2 class="animated swing">Suena la Radio!!!</h2></div>
    <div class="contenedorRadio">
        <div class="Izquierda">
            <img src="/img/bynVertical.jpg"  class="imagen" alt="">

            <div class="sticky2  animated pulse">
                    <img src="/img/bynHorizontal.jpg" class="imagenSticky">
                    <article class="textoSticky">
                        <h4>Volver al</h4>
                        <a href="/">
                            <h3>Home</h3>
                        </a>
                    </article>
                </div>
            
        </div>
        <div class="derecha">
            <section>
            <h3>Spot- Nuevo Gimnasio Inn.</h3>
            <p>Puc: Una nueva forma de entrenar.</p>

            <article>
                 <h4>Lista de elementos.</h4>
                <audio controls>
                   
                    <source src="/radio/DA - LISTA DE ELEMENTOS.mp3" type="audio/mpeg">
                </audio>
            </article>
            <article>
                 <h4>El pantalón.</h4>
                <audio controls>
                   
                    <source src="/radio/DO - el pantalon.mp3" type="audio/mpeg">
                </audio>
            </article>
            <article>
                <h4>Abdominales de Pastelera.</h4>
                <audio controls>
                    <source src="/radio/FA - PASTELERA.mp3" type="audio/mpeg">
                </audio>
            </article>
            <article>
                <h4>¿Qué entrenás?</h4>
                <audio controls>
                    <source src="/radio/FO - QUE ENTRENAS.mp3" type="audio/mpeg">
                </audio>
            </article>
        </section>
        <section>
            <h3>Spot-Grupo de teatro Dementes.</h3>
            <p>Puc: Hacé teatro.</p>
            <article>
                <h4>Mi enfermedad.</h4>
                <audio controls>
                    <source src="/radio/Mi enfermedad.mp3" type="audio/mpeg">
                </audio>
            </article>
            <article>
                <h4>Pase al frente.</h4>
                <audio controls>
                    <source src="/radio/Pase al frente.mp3" type="audio/mpeg">
                </audio>
            </article>
            <article>
                <h4>Que no te atrape.</h4>
                <audio controls>
                    <source src="/radio/Que no te atrape.mp3" type="audio/mpeg">
                </audio>
            </article>
            <article>
                <h4>Solo se vive...muchas veces.</h4>
                <audio controls>
                    <source src="/radio/solo se vive muchas veces.mp3" type="audio/mpeg">
                </audio>
            </article>
        </section>

        </div>

    </div>

    <%- include partials/footer.ejs %>