<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../../css/redaccion.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i" rel="stylesheet">

    <title>Gerardo Ramirez</title>

</head>

<body>

    <div class="ContenedorRedaccion" name='https://es.vecteezy.com'>

        <div class="sticky  animated pulse">
            <img src="/img/bynVertical.jpg" class="imagenSticky">
            <article class="textoSticky">
                <h4>Volver al </h4>
                <a href="/">
                    <h3>Home</h3>
                </a>
            </article>
        </div>

        <article class="fondoParrafo">
            <h2>Carta a agencia.</h2>
            <hr>
            <p>Me levanté esta mañana con el sonido del timbre. ¡Benditos sean los testigos de Jehová!</br>
                </br>
                El teléfono se había quedado sin batería y un despertador hoy se vende como reliquia en tiendas de antigüedades. Después
                de agradecerles por levantarme y por avisarme que estoy condenado, fui a desayunar.</br>
                </br>
                Mi desayuno leche con cereales, pero la leche era cremosa casi yogurt. No le di importancia y la probé de todas formas, No
                funcionó como alimento, pero si como digestivo. No vino Pachorra o no lo vi, porque necesariamente fui Pal’baño
                (Consejo: no haga caso a las ofertas del chino).Me decidí por las tostadas y el mate; descubrí que las tostadas
                de paquete son muy rendidoras ya que de una tostada podes sacar hasta 5 piezas (no importa cual agarres siempre
                se parten).</br>
                </br> En fin, después del mate con pedacitos de tostadas y manteca, bajo a tomar el colectivo. Pasado los 28 minutos,
                escuchando a una octogenaria que me tomo de confidente, llegó el colectivo. Por supuesto me despedí de la
                abuela mandándole también saludos a su hija Rosa la constipada, a Juan el hijo de 40 que sigue en casa; su
                marido Luís de colon irritable y a María la vecina que quema el pasto cuando ella cuelga la ropa.</br>
                </br>
                Ese momento en el que pasás la Sube y te marca la cruz roja, como diciendo estas condenado, tu vida no vale ni $15,90. ¿Cómo
                no recordar a los testigos de Jehová? Volvés a probar buscando la piedad en los ojos del chofer. Ojos que
                son difíciles de detectar detrás de los lentes de Terminator que te ven como si fueras John Connor. De repente
                otra señora apoya su Sube y te dice -Pasá muchacho- tu salvadora.</br>
                </br>
                Le ofrecí dinero pero no acepto. Si acepto una charla de colectivo. Charla en la que por desgracia, me enteré que hace meses
                no tenia sexo, estaba dispuesta a todo y sin pretensiones. Incluso podría estar con un chico con saldo negativo
                en la Sube. </br>
                </br>
                Hacia frio, estaba nublado y yo transpiraba como Jorge López en el monasterio. La señora de las cuatro décadas con caderas
                para dos asientos, no dejaba de mirarme. Quizá esperando la retribución de su gesto. Por un momento me sentí
                un Gigoló. Si bien suena halagador es algo triste. Un gigoló en góndola de liquidación. No soy un tipo muy
                agraciado, pero creo que mis servicios valen más que $15,90. ¡Un viaje en Taxi al menos!</br>
                </br>
                Afortunadamente sube un nuevo salvador, mi héroe. Fuertemente armado con tres barras de chocolate Hamblet por $20. Rápidamente
                atiné a comprárselas y se las di a la cuarentona. Los acepto con gusto, y vaya que le gustó, ni siquiera
                me compartió uno. Solo me miraba mientras los comía.</br>
                </br>
                Para cuando terminaba el tercero ya debía bajarme, así que me despedí de lejos, sin interrumpirla. Y acá estoy Intentando
                redactar algo para que usted me contrate. Esto me hace pensar que no soy un tipo de muy buena suerte, o el
                día no era para mí…o estoy condenado como dijeron los testigos de Jehová.</br>
                </br>
                Eso es algo que usted sin ser brujo, ni pastor, aun sin hablar en portugués puede cambiar. Caso contrario juro ir a un templo
                de la Universal al salir de acá.</br>
                </br>
                Saludos.</br>



            </p>
        </article>
        <article class="fondoParrafo">
            <h2>Continuación de Diario a diario (Cuento de Julio Corázar).</h2>
            <hr>
            <p>
                <b>Un señor toma el tranvía, después de comprar el diario y ponérselo bajo el brazo.</b>
                </br>
                <b>Media hora más tarde desciende con el mismo diario bajo el mismo brazo.</b>
                </br>
                <b>Pero ya no es el mismo diario, ahora es un motón de hojas impresas que el señor abandona en un banco de plaza.
                    Apenas queda solo en el banco,</b>
                </br>
                </br>
                Otro hombre que pasaba por ahí lo toma Y se sienta. Diario, hombre, banco, el trío habitual Y envidiable en la ciudad. La
                hora pico, lo vuelve utópico. Para este señor el tiempo se detuvo, para los transeúntes se aceleró. Pero
                de repente el hombre despierta de ese éxtasis orgiástico. Toma parte del diario y se va.</br>
                </br>Ahora el mutilado diario vuelve a ser hojas impresas. Pero ya no por montón.</br>
                </br>
                Dos señoras coquetas se acercan, reposan en el banco forzado a mostrar su rigidez. Rápidas atinan a buscar el horóscopo,
                Descontentas por su porvenir, deciden dejar el ahora montoncito de diario; Pero no si antes desprenderles
                los cupones de descuento Y el suplemento de espectáculos con la nota A lo que queda de Beto Orlando.</br>
                </br>
                El diario ahora es un poquito de hojas impresas. Apunto de volarse por las bruscas caricias de aire, cae en manos del misterioso
                señor de delantal y Lápiz en la oreja. Su intenso caminar Y un balanceo constante del poquito mutilado diario
                Denotan pasión en su accionar, sin dudas para él Son más que poquitas hojas impresas. Llega a su laboratorio
                y una a una, desprende sus partes con fervor.</br>
                </br>
                Frankenstein y Drácula se regocijan en sus castillos Ante tan espeluznante situación. </br>
                </br>
                El montón ya no es montón, El poquito ya no es poquito, El diario ya no es diario.</br>
                </br>
                Las hojas impresas ahora son Paquetes, envoltorios. Cada una el hogar de media docena de huevos. El eslabón entre uno y otro.</br>
                </br>
                Porque somos esto y mañana aquello.</br>
                </br>
                Ya sea espeluznante o bello, Pero siempre algo para alguien…somos.




            </p>
        </article>
        <article class="fondoParrafo">
            <h2>Prestame un segúndo que te cuento mis deseos (Pestamos Bancarios).</h2>
            <hr>
            <p>Cruza callada, y son sus movimientos Silenciosa armonía;</br>Suenan sus pasos, y al sonar recuerdan Del himno
                alado de la cadencia rítmica.
                <br>Los ojos entreabre, aquellos ojos tan claros como el día.
                <br>Y la tierra y el cielo, cuanto abarcan, arden con nueva luz en sus pupilas.
                <br>Ríe, y su carcajada tiene notas del agua fugitiva. Llora, y es cada lágrima un poema de ternura infinita.
                <br>Saluda risueña, en un cruce de pupilas se percibe la confianza.
                <br> Y deja caer los deseos de su boca, deseos que, cuando pequeña, alguna vez cumplió.
                <br>Lo añora,
                <br> como el niño añora el ceno de su madre, ese que calma el dolor del hambre.
                <br> Sus manos se rozan, se tocan, y el pacto está hecho.
                <br>Como el de la espina para proteger a la rosa.
                <br> No es un préstamo, es el deseo que toca tierra y empieza a florecer.

            </p>
        </article>
        <article class="fondoParrafo">
            <h2>Presentación Obra Beautiful People.</h2>
            <hr>
            <p>Una familia, tiene sus costumbres, sus secretos, Las vidas que la forman… así como las muertes. Se dice que Hay
                un mundo para los vivos, un mundo para los muertos Y una llave que los une.
                <br>
                <br> Algunos creen que es inverosímil…
                <br>
                <br> Sin embargo Todos, absolutamente todos, tenemos una historia con el otro mundo, con la muerte, sea propia
                o no. Entonces, ¿Existe realmente otro mundo, o todo pertenece al mismo?
                <br>
                <br> A lo mejor somos nosotros esa llave que les permite el paso. Quizá esta obra tácitamente los invoca.
                <br>
                <br> Y se mezclan entre espectadores y actores sin que lo notemos. ¿De dónde venimos y a dónde vamos? Pregunta
                ambigua.
                <br>
                <br> El camino hacia la respuesta es incierto, hay varios por recorrer. Y en el medio Paraísos, infiernos, limbos,
                reencarnaciones.
                <br>
                <br> Está en nosotros elegir cual tomar….
                <br>
                <br> Pero cuidado, porque en este mundo,
                <br>
                <br> hay Tantos caminos, tantos, que no conducen a ninguna parte.


            </p>
        </article>
        <article class="fondoParrafo">
            <h2>Es una moto todo terreno .</h2>
            <hr>
            <p> Es una moto todo terreno, para cualquier circunstancia. Esas que te pone la vida para que puedas recordar que
                estás vivo, y por qué lo estás. Ante la adversidad Thierry Sabine sobrevivió. En su mayor desolación un hombre
                en su Yamaha contra el desierto. De tan ávidas ganas de revivir esa lucha, donde el ambiente hostil lo observaba
                desafiante, emerge Paris- Dakar. En cada competidor prevalece el mito de Sabine. No lo hacen por esperanza,
                es la sangre, el espíritu, sus instintos de conquista, de ir más allá; en una maquina que este a la altura
                de los acontecimientos.
                <br>
                <br> ¿Quien dijo que los mitos no se vuelven realidad?, la XT 1200Z es una leyenda viva, que está al alcance
                de tu mano.
                <br>
                <br> Hay una aventura en cada momento en el que encendés ese motor. Su sonido te pone en alerta, expectante.
                Cada día será único. Monotonía es un término que se pierde al escuchar el escape de la Yamaha.
                <br>
                <br> Se dice que para domar a un potro salvaje Hay que ser temerario y atrevido, en fin, salvaje como el mismo
                animal. La moto es el potro, su galope se pierde en la las praderas asfálticas y de barro. No sigue un camino,
                sino que lo construye en su andar. Lo crea a caprichos de su domador, quien parece imperceptible por su salvajismo
                homogéneo con la XT 1200Z.
                <br>
                <br> Dentro tuyo hay un espíritu aventurero que deja inerte tus miedos. Es tu oportunidad de ser parte de la
                leyenda. Conoce tus límites, supera tus límites.


            </p>
        </article>
        <article class="fondoParrafo">
            <h2></h2>
            <hr>
            <p>

            </p>
        </article>


        <a rel="nofollow" target="_blank" href="https://es.vecteezy.com">https://es.vecteezy.com</a>
    </div>


    <%- include partials/footer.ejs %>